/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos corporativos */
body {
  font-family: Arial, sans-serif;
  color: #000; /* Texto en negro */
  background-color: #fff; /* Fondo blanco */
  margin-inline: 2px;
}

a {
  color: #c00; /* Enlaces en rojo */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2, h3, h4, h5, h6 {
  color: #000; /* Títulos en negro */
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  background-color: #f9f9f9;
  padding: 50px 20px;
}

.title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c00;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #900;
}

.logo {
  max-width: 200px;
  height: auto;
}

.menu-container {
  background-color: #333; /* Fondo negro */
}

.menu-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu-container ul li {
  margin-right: 20px; /* Añade espacio entre los elementos */
}

.menu-container ul li:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento del menú */
}

.menu-container ul li a {
  color: #fff; /* Letras blancas */
  text-decoration: none;
}

.menu-container ul li a:hover {
  text-decoration: underline;
}
